.UI_section,
.UI_background_section {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.UI_background_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.UI_background_section img {
    border-radius: 5px;
}

.background_color {
    background-color: rgba(0, 0, 0, 0.808);
}

.background_start {
    width: 100%;
    height: 100%;
}

.background_game_over {
    width: 60%;
    height: 60%;
}

.background_win {
    width: 65%;
    height: 100%;
}

.info_screen {
    background-image: url(../assets/img/5_background/international-mountain-day-9257122_1280.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    font-size: 32px;
    color: rgb(0, 255, 0);
    font-weight: bolder;
    width: 100%;
    height: 100%;
}

.info_screen div {
    background-color: rgba(0, 0, 0, 0.589);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    font-size: 32px;
    font-weight: bolder;
    margin-left: 20px;
}

.info_screen div span {
    margin-right: 20px;
}